{% if not document %}
<h1>Open a document</h1>
{% else %}
<div
     id="editor-container" 
     class="flex flex-wrap">
  {% include "partials/editor_toolbar.html" %}

  {# editor #}
  <div 
       class="border border-b-0 overflow-auto"
       style="height: calc( 100vh - 151px )">
    <textarea id="editor_active_content"
              class="hidden"
              hx-post="{{ url_for('editor.update_content', id=id, document_id=document.id, action='save-draft') }}"
              hx-vals="js:{'value':editor.getValue()}"
              hx-trigger="autosave from:#editor_active_content"
              hx-swap="none"
      >{{ document.content }}</textarea>
  </div>
</div>


{# code editor #}
<script>

   var editordiv = document.getElementById("editor_active_content");
   var editor = CodeMirror.fromTextArea(editordiv, {
     lineNumbers: true,
     gutter: true,
     autofocus: true
   });

  (function() {
    // Make editor small while we recalculate size
    editor.setSize(0,0)

    const container = document.getElementById("editor-container");
    editor.setSize(container.clientWidth, "100%");

    // Autosave after 250 ms of no activity
    editor.on('changes', debounce(function() {
      const event = new Event('autosave')
      const editordiv = document.getElementById("editor_active_content");
      editordiv.dispatchEvent(event);
    }, 250));
  })()
</script>


{% endif %}
