<div class="w-full px-2"
     hx-target="this"
>


<textarea
       id="testcase-section-edit-{{ section }}"
       class="font-mono w-full"
       hx-patch="{{ url_for('editor.update_testcase', 
                            id=editor.id,
                            document_id=document.id,
                            section=section) }}"
       hx-trigger="blur"
       hx-swap="outerHTML"
       hx-vals="js:{'value':document.getElementById('testcase-section-edit-{{ section }}').value}"
>{{ testcase.statements[section].__str__().strip() }}</textarea>

<script>
  (function() {
    const editordiv = document.getElementById("testcase-section-edit-{{ section }}")
    var editor = CodeMirror.fromTextArea(editordiv, {
     lineNumbers: true,
     gutter: true,
     autofocus: true
   });
   editor.on("blur", function() {
     const evt = new Event("blur")
     editordiv.dispatchEvent(evt);
   });

    //autosize(document.querySelectorAll('textarea'));
  })()
</script>

</div>
