<div class="w-full px-2"
     hx-target="this"
>

<textarea
       id="testcase-section-edit-{{ section }}"
       class="font-mono w-full"
       style="max-height: 500px"
       hx-patch="{{ url_for('editor.update_testcase', 
                            id=editor.id,
                            document_id=document.id,
                            section=section) }}"
       hx-trigger="blur"
       hx-swap="outerHTML"
       hx-vals="js:{'value':document.getElementById('testcase-section-edit-{{ section }}').value}"
>{{ testcase.statements[section].__str__() }}</textarea>
<script>
  (function() {
    const el = document.getElementById("testcase-section-edit-{{ section }}")
    const end = el.value.length;
    el.setSelectionRange(end, end);
    el.focus()

    autosize(document.querySelectorAll('textarea'));
  })()
</script>

</div>
