{% import "icons/icon.j2" as icon %}

{% set active_classnames = "flex max-w-xs flex-grow p-1 border justify-between border-b-white relative overflow-ellipsis" %}
{% set classnames = "flex max-w-xs flex-grow p-1 border justify-between relative hover:bg-gray-100 overflow-ellipsis bg-gray-200 text-gray-500" %}

<div class="flex flex-wrap">
  {% for doc in documents %}
  {% set active = doc == active_document %}
  <div class="{{ active_classnames if active else classnames }} group/tabitem" style="top: 1px">
    <span class="flex flex-grow items-center"
      {% if not active %}
         hx-post="{{ url_for('editor.update_tabs', id=id, path=doc.path, action='select', workspace_id=workspace.id) }}"
         hx-swap="none"
      {% endif %}
      >
      {% if doc.is_modified() %}
      {{ icon.solid('circle', "h-2 w-2 fill-gray-500 mr-1") }}
      {% endif %}
      {{ doc.path }}
    </span>
    <button class="transition ease-in {{ 'opacity-0 group-hover/tabitem:opacity-100' if not active else '' }}"
         hx-post="{{ url_for('editor.update_tabs', id=id, path=doc.path, action='close', workspace_id=workspace.id) }}"
         hx-swap="none">
      {{ icon.solid('x-circle', 'h-5 w-5 fill-gray-700') }}
    </button>
  </div>
  {% endfor %}
</div>
