{% extends "layout.html" %}

{% block menucontent %}
<div id="treeview"
     hx-get="{{ url_for('workspace.tree', id=id) }}"
     hx-trigger="load">
</div>
{% endblock %}

{% block content %}
  {# only support single editor for now #}
  {% set editor_id = 0 %}
  <div id="content">
    <div id="tabs"
         hx-get="{{ url_for('editor.tabs', id=editor_id) }}"
         hx-trigger="load, tab-action from:body">
    </div>
    <div id="editor"
         hx-get="{{ url_for('editor.content', id=editor_id) }}"
         hx-trigger="load, editor-content-update from:body">
    </div>
  </div>
{% endblock %}
