<div class="m-2" hx-target="this" hx-swap="outerHTML">
{% if not edit %}
<h1 id="testcase-title"
    class="text-3xl font-bold"
    hx-get="{{ url_for('editor.section', section='title', edit=True, id=editor.id) }}"
    hx-trigger="dblclick"
>{{ testcase.title }}</h1>
{% else %}
<input id="testcase-title" 
       class="text-3xl font-bold bg-gray-200" 
       value="{{ testcase.title }}"
       hx-patch="{{ url_for('editor.update_testcase', document_id=document.id, section='title',id=editor.id) }}"
       hx-trigger="blur, keyup[key=='Enter']"
       hx-vals="js:{'value':document.getElementById('testcase-title').value}"
       />
<script>
  (function() {
    const el = document.getElementById('testcase-title')
    const end = el.value.length;
    el.setSelectionRange(end, end);
    el.focus()
  })()
</script>
{% endif %}
</div>

