{% import "icons/icon.j2" as icon %}

<div class="border m-2 mt-5 p-1 group/cell"
     hx-swap="outerHTML"
     hx-target="this"
>

{% if not edit %}
<div hx-get="{{ url_for('editor.section', 
                         id=editor.id,
                         section='setup', 
                         section_index=index, 
                         edit=True) }}"
    hx-trigger="dblclick"
  >
  <p class="font-mono whitespace-pre">{{ testcase.setup[index] | repr_html | safe }}</p>

  {# Toolbar #}
  <div style="position: relative; width:100%; height:0;">
    <div class="flex absolute bg-white justify-between border rounded-sm p-1 group-hover/cell:opacity-100 opacity-0 transition-opacity"
         style="top: -10px; left: 50%; width: 100px">
        {{ icon.outline('chevron-double-up', "h-4 w-4  mr-1") }}
        {{ icon.outline('arrow-up-on-squares', "h-4 w-4  mr-1") }}
        {{ icon.outline('arrow-up-on-squares', "h-4 w-4  mr-1 rotate-180") }}
        {{ icon.outline('chevron-double-down', "h-4 w-4 mr-1") }}
    </div>
  </div>
</div>
{% else %}
<textarea
       id="testcase-setup-{{ index }}"
       class="font-mono w-full"
       hx-patch="{{ url_for('editor.update_testcase', 
                            id=editor.id,
                            document_id=document.id, 
                            section='setup', 
                            section_index=index) }}"
       hx-trigger="blur"
       hx-vals="js:{'value':document.getElementById('testcase-setup-{{ index }}').value}"
>{{ testcase.setup[index] | edn_str }}</textarea>
<script>
  (function() {
    const el = document.getElementById('testcase-setup-{{ index }}')
    const end = el.value.length;
    el.setSelectionRange(end, end);
    el.focus()
  })()
</script>
{% endif %}

</div>
