
<div class="w-full px-2"
     hx-swap="outerHTML"
     hx-target="this"
>

{% if not edit %}
<div class="prose"
    hx-get="{{ url_for('editor.section', section='description', edit=True, id=editor.id) }}"
    hx-trigger="dblclick"
  >
  <p class="whitespace-pre">{{ testcase.description }}</p>
</div>
{% else %}
<textarea
       id="testcase-description"
       class="font-mono w-full"
       hx-patch="{{ url_for('editor.update_testcase', document_id=document.id, section='description', id=editor.id) }}"
       hx-trigger="blur"
       hx-vals="js:{'value':document.getElementById('testcase-description').value}"
>{{ testcase.description }}</textarea>
<script>
  (function() {
    const el = document.getElementById('testcase-description')
    const end = el.value.length;
    el.setSelectionRange(end, end);
    el.focus()
  })()
</script>
{% endif %}

</div>
