{% import "icons/icon.j2" as icon %}

<div class="flex flex-wrap">
  {% include "partials/editor_toolbar.html" %}

  <div class="w-full overflow-auto"
       style="height: calc( 100vh - 151px )">
    <div class="w-full prose prose-li:my-0 prose-p:my-1 prose-headings:my-3 prose-pre:my-1">

      {% for statement in testcase.statements %}
      <div
          hx-get="{{ url_for('editor.section', 
                            id=editor.id, 
                            section=loop.index-1) }}"
          hx-swap="outerHTML"
          hx-trigger="load">
      </div>
      {% endfor %}

      <div id="add-section">
        <button hx-get="{{ url_for('editor.section', id=editor.id, section=-1, edit=True) }}"
                  hx-swap="beforebegin"
                  hx-target="#add-section"
                  class="border rounded border-gray-300 text-gray-500 hover:bg-gray-500 hover:text-white px-2 bg-gray-200 m-1 flex items-center"
          >
          {{ icon.outline('plus-circle', 'h-5 w-5 fill-grey-500') }} 
          Add Section
        </button>
        
      </div>

    </div>
  </div>
</div>
