{% import "icons/icon.j2" as icon %}

{% set is_open = node.is_root or node in opened %}

{% if not node.is_root %}
<div hx-post="{{ url_for('workspace.tree', path=node.relative_path, workspace_id=workspace.id) }}"
     hx-target="#node-{{ node.relative_path | as_id }}"
     class="flex">
  {%- if is_open %}
  {{ icon.outline('chevron-down', 'h-5 w-5') }}
  {{ icon.solid('folder-open', 'h-5 w-5') }}
  {%- else %}
  {{ icon.outline('chevron-right', 'h-5 w-5') }}
  {{ icon.solid('folder', 'h-5 w-5') }}
  {%- endif %}
  <span class="mx-1 font-medium whitespace-nowrap">{{ node.name }}</span>
</div>
{% endif %}

{%- if is_open %}
<ul class="{{ 'ml-5' if not node.is_root else ''}}" >
    {%- for dir in node.children() | is_dir | sort %}
    <li id="node-{{ dir.relative_path | as_id }}">
      {%- with node=dir %}
        {%- filter indent(8, True) %}
          {%- include "partials/treeitem.html" %}
        {%- endfilter %}
      {%- endwith %}
    </li>
    {%-endfor %}

    {% for file in node.children() | is_file | sort %}
    <li class="ml-5 flex"
        hx-post="{{ url_for('workspace.open_or_select_document', id=workspace.id, path=file, action='open') }}"
        hx-swap="none">
      <img class="h-5 w-5 mr-1 whitespace-nowrap" src="{{ url_for('static', filename='img/icons/document.svg') }}"></img>
      {{ file.path.name }}
    </li>
    {% endfor %}
</ul>
{%- endif %}
