{% import "icons/icon.j2" as icon %}
{% set show_nav = False %}
{% extends "layout.html" %}

{% block content %}
<div class="flex justify-center"> 
  <div class="max-w-4xl">
     <h2 class="text-2xl font-bold mb-4">Registered Workers</h2>
     <table class="table-auto w-full border-collapse border border-gray-200">
         <thead>
             <tr>
                 <th class="border border-gray-300 px-4 py-2 text-gray-600">URL</th>
                 <th class="border border-gray-300 px-4 py-2 text-gray-600">Status</th>
                 <th class="border border-gray-300 px-4 py-2 text-gray-600">Last Heard From</th>
             </tr>
         </thead>
         <tbody>
         {% for worker in workers %}
             <tr>
                 <td class="border border-gray-300 px-4 py-2">{{ worker.url }}</td>
                 <td class="border border-gray-300 px-4 py-2">
                   {% if worker.status == 'available' %}
                      {% set bg_color = 'bg-green-500' %}
                   {% else %}
                      {% set bg_color = 'bg-yellow-500' %}
                   {% endif %}
                    <div class="px-2 py-1 rounded-full text-white {{ bg_color }} flex justify-center items-center">
                        <span class="mx-auto">{{ worker.status }}</span>
                    </div>
                 </td>
                 <td class="border border-gray-300 px-4 py-2">{{ worker.last_keepalive | humanize_ts }}</td>
             </tr>
         {% endfor %}
         </tbody>
     </table>
  </div>
</div>
{% endblock %}
