{% if hx_request %}
{% include "partials/requirements.html" %}
{% else %}
{% extends "layout.html" %}

{% block menucontent %}
<div class="subsystems">
    <h2 class="font-medium leading-tight text-2xl mt-0 mb-2 ">Subsystems</h2>
    <ul>
        {% for subsystem in subsystems %}
        <li class="subsystem-link {{'bg-blue-300' if subsystem == selected_subsystem }}"
            hx-get="/requirements?subsystem={{ subsystem }}" hx-target="#requirements" hx-swap="innerHTML"
            hx-push-url="true" _="on click 
               remove .bg-blue-300 from <li.subsystem-link/>
               add .bg-blue-300 to me">
            {{ subsystem }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="requirements" id="requirements">
    {% include "partials/requirements.html" %}
</div>
{% endblock %}

{%endif %}